$navbar-default-bg: #254b87;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  font-weight:bold;
}

#logo:hover {
  color: #FFF;
  text-decoration: none;
}

.jumbotron {
  background-image: asset-url('food2.jpg');
  background-size: cover;
  height: 300px;
}

.jumbotron h1, h2{
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
 background-color: #254b87;
}

.btn-xlarge:hover {
  color: #fff;
  text-decoration: none;
}

.text-muted {
  text-align: center;
  margin-bottom: 0px;
}